// features and highlights (class to make things fancy)
.bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
.meta {
    margin-bottom: $padding;
    display: block;
    font-family: "Lora", serif;
    font-size: 1.1em;
}
article {
    background: $white;
    color: $black;
}
.feature {
    background: darken($white, 5%);
}
.hero {
    position: relative;
    padding-bottom: 0;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    &.dark {
        * {
            color: $white;
        }
        &:after {
            content: "";
            background: linear-gradient(-65deg, $pink, darken($blue, 45%));
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            opacity: 0.85;
        }
    }
}